/**********************
*      CSS Reset      *
**********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The Real CSS */

html {
	bottom: 0;
	background-color: #B2E5E3;
}

.main-content {
	margin: 2% 10%;
}

h1,
.main-content > form {
	font-family: 'Arvo', sans-serif;
}

#main-heading {
	font-size: 36px;
	text-align: center;
	padding: 4% 0 3%;
	color: #ffffff;
}

.main-content > form {
	font-size: 24px;
	color: #4B394E;
	max-width: 70%;
  	margin: 0 auto;
  	background-color: rgba(131, 130, 135, 0.4);
	border-radius: 10px;
	padding: 5% 5% 4% 5%;
}

#temp-to-convert {
	margin-bottom: 2%;
}

#temp-to-convert > label {
  vertical-align: bottom;
  margin-right: 1%;
}

input#temp.temp-label {
	width: 20%;
	min-height: 25px;
	font-family: 'Arvo', sans-serif;
	font-size: 20px;
}

input[type="radio"] {
	margin-right: 2%;
}

#radio-buttons {
	padding-top: 1%;
}

#radio-buttons > input[type="radio"]:nth-child(1) {
  margin-bottom: 3%;
}

#converted-temp {
	  margin-top: 2%;
}

#converted-temp > label {
	vertical-align: bottom;
	margin-right: 1%;
}
input#resultField {
	width: 20%;
	min-height: 25px;
	font-family: 'Arvo', sans-serif;
	font-size: 20px;
}

input[type="button"] {
	font-family: 'Arvo', sans-serif;
	font-size: 18px; 
	color: #ffffff;
	background-color: #f39c12;
	border-radius: 10px;
	width: 25%;
	margin-top: 3%;
    padding: 2%;
}